
/* レスポンシブデザインの設定 */

@media screen and (max-width: 768px) {
/* 画面幅が768px以下の場合 */
img {
width: 100%;
height: auto;


}
}

/* 画像の設定 */

img {
display: block;
margin: 0 auto;
}

/* 背景色などの設定 */

body {
background-color: #f2f2f2;
}

html, body {
height: 100%;
margin: 0;
padding: 0;
}